@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-white text-gray-800 scroll-smooth;
}

:root {
  --brand: #07a68a;
  --soft: #f5fdfb;
  --dark: #041316;
}

.text-brand { color: var(--brand); }
.bg-brand { background-color: var(--brand); }
.bg-soft { background-color: var(--soft); }
.bg-dark { background-color: var(--dark); }
